<div fxFlex>
    <button (click)="quillclick()">quill </button>
    <div fxLayout="row" fxLayoutAlign="start stretch" fxFill>
        <!-- <input matInput placeholder="Placeholder" [(ngModel)]="jsonString" /> -->
        <div fxFlex="100">
            <quill-editor [modules]="modules" format="json" (onEditorCreated)="editorCreated($event)"
                [(ngModel)]="jsonString" placeholder="Enter Text" (onSelectionChanged)="onSelectionChanged($event)"
                >
            </quill-editor>
        </div>
        <div fxFlex="50">
            <textarea rows="4" matInput [(ngModel)]="jsonString"></textarea>
        </div>

    </div>
</div>